<ion-header>
  <ion-toolbar>
    <ion-title>
      Monitoring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button
      class="btn"
      (click)="startMonitoring()"
      shape="round"
      [color]="btnColor"
      >{{ btnText }}</ion-button
    >
  </div>
  <ion-list>
    <ion-list>
      <ion-text> Acceleration </ion-text>
      <ion-list>
        <ion-text color="dark"> X-value : </ion-text
        ><ion-text color="secondary">
          {{ acceleration_x }}
        </ion-text></ion-list
      >

      <ion-list
        ><ion-text color="dark"> Y-value : </ion-text>
        <ion-text color="secondary">
          {{ acceleration_y }}
        </ion-text></ion-list
      >

      <ion-list
        ><ion-text color="dark"> Z-value : </ion-text>
        <ion-text color="secondary">
          {{ acceleration_z }}
        </ion-text></ion-list
      >
    </ion-list>
    <ion-list>
      <ion-text>
        Z-value threshold
      </ion-text>
      <ion-item>
        <ion-range
          min="1"
          max="10"
          color="secondary"
          pin="true"
          [value]="zValue"
          name="Z-value threshold"
          (ionChange)="zValueChanged($event)"
        >
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">15</ion-label>
        </ion-range>
      </ion-item>
      <ion-text>
        X-value threshold
      </ion-text>
      <ion-item>
        <ion-range
          min="1"
          max="10"
          color="tertiary"
          pin="true"
          [value]="xValue"
          name="x-value threshold"
          (ionChange)="xValueChanged($event)"
        >
          <ion-label slot="start">1</ion-label>
          <ion-label slot="end">15</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
